<br>

<div class="container">
  <div class="row">
    <div class="col-12">

      <section class="form-elegant">
        <div class="card">
          <div class="card-body mx-sm-4">
            <form>
              <div class="form-group">
                <h3 for="email" class="d-flex justify-content-start">Courses</h3>
                <p for="pwd" class="d-flex justify-content-start">Enter the courses
                  your training facility offers</p>
              </div>
              <div class="table-responsive table-bordered table-striped table-sm table-hover">
                <table class="table">
                  <thead>
                  <tr class="table-warning">
                    <th>Months</th>
                    <th>Course</th>
                    <th>Hours</th>
                    <th>Hours per Class</th>
                    <th>Total days per Month</th>
                    <th>Total Months</th>
                    <th>Students per Session</th>
                    <th>Students per Classroom</th>
                    <th>Number of Classrooms</th>
                    <th>Location</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>9</td>
                    <td>OSHA 10</td>
                    <td>10</td>
                    <td>2.5</td>
                    <td>4</td>
                    <td>1</td>
                    <td>1000</td>
                    <td>25</td>
                    <td>40</td>
                    <td>Classroom</td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>OSHA 30</td>
                    <td>30</td>
                    <td>2.5</td>
                    <td>4</td>
                    <td>3</td>
                    <td>3000</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>Web</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
            <br>
            <div class="col align-self-start">
              <a href="#" type="button" class=" btn btn-warning">+ Add</a>
            </div>
          </div>
        </div>
      </section>
      <br>

      <div style="text-align: center">
        <button type="submit" class="btn btn-warning">Create</button>
      </div>
    </div>
  </div>
</div>
