<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <section class="form-elegant">
        <div class="card">
          <div class="card-body mx-sm-4">
            <form>
              <div class="form-group">
                <h3 for="email" class="d-flex justify-content-start">OSHA 10</h3>

              </div>
              <div class="table-responsive table-bordered table-responsive-lg table-hover">
                <table class="table">
                  <thead>
                  <tr class="table-warning">
                    <th>Distance
                      <div class="input-group">
                        <input type="text" class="form-control" id="companysize" placeholder="15 Miles"
                               aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false"></button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Location</a>
                            <a class="dropdown-item" href="#">Location</a>
                            <a class="dropdown-item" href="#">Location</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Location</a>
                          </div>
                        </div>
                      </div>
                    </th>
                    <th>Schedule</th>
                    <th>Date range</th>
                    <th>Weeks</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Location</td>
                    <td>Monday 2:00 PM</td>
                    <td>5/7/18 - 5/14/18</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>Monday 2:00 PM</td>
                    <td>5/7/18 - 5/14/18</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>Monday 2:00 PM</td>
                    <td>5/7/18 - 5/14/18</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td>Monday 2:00 PM</td>
                    <td>5/7/18 - 5/14/18</td>
                    <td>2</td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </form>
            <br>
          </div>
        </div>
      </section>
      <br>

      <div style="text-align: center">
        <button type="submit" class="btn btn-warning">Next</button>
      </div>
    </div>
  </div>
</div>
