<br>
<div class="container">

  <section class="form-elegant">
    <div class="card">
      <div class="card-body mx-sm-4">
        <form>
          <div class="form-group">
            <h3 for="email" class="d-flex justify-content-start">User Information</h3>
            <p for="pwd" class="d-flex justify-content-start">Enter you Personal Account Information</p>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="fullname" placeholder="Full Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="phone" placeholder="Phone Number">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="title" placeholder="Laborer">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="pwd" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="cnf_pwd" placeholder="Confirm Password">
          </div>
        </form>
      </div>
    </div>
  </section>

  <br>

  <div style="text-align: center">
    <button type="submit" class="btn btn-warning">Next</button>
  </div>

</div>
