<form #workForm="ngForm" novalidate>
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-8 mt-4"  id="roles">
          <div class="row">
            <div class="col-3"><h4>Curriculum</h4></div>
            <div class="offset-2 col-7">Create a training curriculum for each of your roles</div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 mt-2">

              <div id="add_roles" class="mt-4">
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let role of roles; let Rindex = index"
                                       dnd-droppable (onDropSuccess)="addToRoleCourses($event,Rindex)" [dropZones]="['demo1']">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{role.Rtitle}}
                      </mat-panel-title>
                      <mat-panel-description>
                        OSHA 10, Course Name, Course Name - 40hrs
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                      <div class="row" align="center">
                        <div class="col-3">
                          <u><b>Title</b></u>
                        </div>
                        <div class="col-6">
                          <u><b>Description</b></u>
                        </div>
                        <div class="col-3">
                          <u><b>Credits</b></u>
                        </div>
                      </div>
                      <ul class="nav nav-pills nav-fill nav-justified" *ngFor="let roleCourses of role.RItems">
                        <li class="nav-item col-3">
                          <a class="nav-link" href="javascript:void(0);">{{roleCourses.name}}</a>
                        </li>
                        <li class="nav-item col-6">
                    <span class="navbar-text">
                        {{roleCourses.description}}
                    </span>
                        </li>
                        <li class="nav-item col-3">
                    <span class="navbar-text">
                        {{roleCourses.credits}}hrs
                    </span>
                        </li>
                      </ul>
                    </ng-template>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="float-right">
                <button mat-flat-button z (click)="openAddRoleDialog()">+Add</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mt-2" id="courses">
          <div class="scrollbar scrollbar-lady-lips">
            <div class="force-overflow">
              <h4 class="float-sm-left">Certifications</h4><br><br>
              <div class="shadow-lg bg-white">
                <div class="card-body" dnd-draggable [dragData]="selectedCredit" [dropZones]="['demo1']">
                  <a  class="card-link float-left">{{selectedCredit.name}}</a>
                  <a  class="card-link float-right">{{selectedCredit.credits}}hrs</a><br>
                  <p class="card-text" style="font-size: 0.8em;">{{selectedCredit.description}}</p>
                </div>
              </div>
              <p style="text-align: left;">Detail</p>
              <mat-form-field class="full-width">
                <mat-label matPrefix>Search</mat-label>
              <input matInput class="form-control form-control-sm mr-3 w-100" [(ngModel)]="work.searchCourse"
                     name="work.searchCourse" type="text" aria-label="Search">
                <mat-icon matSuffix class="material-icons">search</mat-icon>
              </mat-form-field>

              <div class="btn-group w-100">

                <div class="w-100">
                  <button class="w3-button w-50 w3-left-align" (click)="allExpandState = true">Expand All </button>
                  <button class="w3-button w-50 w3-right-align" (click)="allExpandState = false">Collapse All </button>
                  <mat-expansion-panel *ngFor="let CreditCategory of availableCreditCategories" [expanded]="allExpandState"
                                       (opened)="panelOpenState = true" (closed)="panelOpenState = false" dnd-draggable [dragData]="CreditCategory" [dropZones]="['demo1']">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{CreditCategory.CCTitle}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row" align="left" *ngFor="let CreditCategoryCredit of CreditCategory.CCItems | filter:work.searchCourse"
                    >
                      <div class="col-12">
                        <u><a class="nav-link" (click)="displayCreditInfo(CreditCategoryCredit)" href="javascript:void(0);">
                          {{CreditCategoryCredit.name}}</a></u>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="ve font-small blue">
      <div class="row" style="text-align: center">
        <div class="col align-self-start">
          <a href="javascript:void(0);" (click)="goToPrevious(companyDataForm)" type="button" class=" btn btn-warning">&laquo; Previous</a>
        </div>
        <div class="col align-self-end">
          <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
        </div>
      </div>
    </footer>
    <!-- Footer -->
  </div>
</form>
