#bio {
  border: 1px solid;
  border-radius: 15px;
  width: 700px; height: 180px;
  padding: 20px 30px;
  margin: 1rem;
}
#avatar img{
  width: 150px; height: 120px;
}
.no-gutters .mat-card-image {
  width: 75%;
  padding-top: 30px;
}
.no-gutters mat-card {
  width: 100%; // height: auto;
  font: bold 2rem sans-serif;
  padding: 0px 0px 0px 1px;
  border-radius: 15px;
}
.no-gutters mat-card-title {
  background-color: #FF8800;
  font: 15px sans-serif;
}
.no-gutters mat-card-subtitle {
  font: 10px sans-serif;
}
.testimony .card{
  padding: 2px;
  border: 0.1px #aaaaaa;
  border-radius: 15px;
}
.testimony mat-card{
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}
.testimony mat-card-title {
  font: 20px bold sans-serif;
}
.testimony mat-card-subtitle {
  font: 12px sans-serif;
}

table {
  width: 100%;
  border-radius: 15px;
  text-align: center;
}
.table th {
  background-color: darkorange;
text-align: center;
  font: 25px bold;
}
