<div class="container">
  <div class="jumbotron border border-dark mx-auto d-block" id="bio">
    <div class="row">
      <div class="col-7">
        <h3>Username</h3>
        <h5> Job Title</h5>
        <p>Bio</p>
      </div>
      <div class="col-5" id="avatar">
        <img class="img-thumbnail float-right rounded-circle" src="/src/assets/images/img_avatar.png" alt="Card avatar">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
    <div class="col-6">
      <div class="jumbotron">
        <div class="row">
          <div class="col-4">
            <h6>Certifications <span class="badge badge-light">6</span></h6>
          </div>
          <div class="col-2" style="z-index: inherit">
            <button mat-stroked-button color="primary">+Add</button>
          </div>
          <div class="col-2 offset-1" style="z-index: inherit">
            <button mat-stroked-button color="primary"><mat-icon>share</mat-icon>Share Link
            </button>
          </div>

        </div>
        <br>
        <div class="row no-gutters">
          <div class="col col-md-12 col-lg-6 col-xl-6">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-12 col-lg-6 col-xl-6">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-12 col-lg-6 col-xl-6">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-12 col-lg-6 col-xl-6">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-12 col-lg-6 col-xl-6">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-12 col-lg-6 col-xl-6">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6" style="padding: 2px;">
      <div class="table table-striped table-responsive mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef> course </th>
            <td mat-cell *matCellDef="let element"> {{element.course}} </td>
          </ng-container>

          <ng-container matColumnDef="facility">
            <th mat-header-cell *matHeaderCellDef> facility </th>
            <td mat-cell *matCellDef="let element"> {{element.facility}} </td>
          </ng-container>

          <ng-container matColumnDef="credits">
            <th mat-header-cell *matHeaderCellDef> credits </th>
            <td mat-cell *matCellDef="let element"> {{element.credits}} </td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef> duration </th>
            <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="jumbotron">
          <h6>Testimonials <span class="badge badge-light">5</span></h6>
        <div class="testimony col">
          <div class="card">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Full Name</mat-card-title>
                <mat-card-subtitle>Title</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="card">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Full Name</mat-card-title>
                <mat-card-subtitle>Title</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              </mat-card-content>
            </mat-card>
          </div>
          <div class="card">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Full Name</mat-card-title>
                <mat-card-subtitle>Title</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              </mat-card-content>
            </mat-card>
          </div>
          <div class="card">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Full Name</mat-card-title>
                <mat-card-subtitle>Title</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="card">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Full Name</mat-card-title>
                <mat-card-subtitle>Title</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="card">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Full Name</mat-card-title>
                <mat-card-subtitle>Title</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
