
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-sidenav-mat></app-sidenav-mat>
    </div>
  </div>
  <!-- For Debugging: show our formData as it is being typed -->
  <pre>{{ formData | json }}</pre>
</div>

