<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">

      <section class="form-elegant">
        <div class="card">
          <div class="card-body mx-sm-4">
            <form>
              <div class="form-group">
                <h3 for="email" class="d-flex justify-content-start">Facility Information</h3>
                <p for="pwd" class="d-flex justify-content-start">Enter you Personal Information about your
                  training facility</p>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="fullname" placeholder="Full Name">
              </div>
              <div class="input-group">
                <input type="text" class="form-control" id="organization" placeholder="Organization type"
                       aria-label="Text input with dropdown button">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>

              <br>

              <h3 for="email" class="d-flex justify-content-start">Facility Information</h3>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="">
                <label class="custom-control-label" for="">Physical Location</label>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="website" placeholder="Website">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="address_1" placeholder="Street">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="address_2" placeholder="Street Line 2">
              </div>
              <div class="input-group">
                <input type="text" class="form-control" id="state" placeholder="State"
                       aria-label="Text input with dropdown button">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <input type="text" class="form-control" id="zip" placeholder="Zip">
              </div>
            </form>
          </div>
        </div>
      </section>
      <br>

      <div style="text-align: center">
        <button type="submit" class="btn btn-warning">Next</button>
      </div>
    </div>
  </div>
</div>
