<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <form #personalForm="ngForm" novalidate>
        <section class="form-elegant">
          <div class="card">
            <div class="card-body mx-sm-4">
              <h3  class="d-flex justify-content-start">Admin Information</h3>
              <p  class="d-flex justify-content-start mb-5">Enter you Personal Information</p>
              <mat-form-field class="full-width mt-2">
                <input matInput type="text" placeholder="Full Name" value="" #fullname="ngModel" id="fullname"
                       name="fullname" [(ngModel)]="personal.fullname">
              </mat-form-field>
              <mat-form-field class="full-width mt-2">
                <input matInput type="email" placeholder="Enter your email" #email="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"
                       id="email" name="email"  [(ngModel)]="personal.email" required>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width mt-2" hintLabel="Max 10 characters">
                <input matInput type="tel" placeholder="Phone Number" #phone="ngModel" id="phone" value="" matInput #input maxlength="10"
                       name="phone" [(ngModel)]="personal.phone">
                <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field>
              <mat-form-field class="full-width mt-2">
                <input matInput type="text" placeholder="Title" value="" #title="ngModel" id="title"
                       name="title" [(ngModel)]="personal.title">
              </mat-form-field>
              <mat-form-field class="full-width mt-2">
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                       #password="ngModel" id="password" name="password" [(ngModel)]="personal.password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </section>
        <br>&nbsp; &nbsp;
        <div style="text-align: center">
          <button type="button" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)" class="btn btn-warning">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
