.container {
  background-color: white;
}
.left {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.right {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
hr {
  width: 100%;
  border: 1px groove;
}
.col-md-5, .col-md-4, .col-md-3{
  text-align: left;
  border-style: groove;
  border-spacing:0;
  border-collapse: collapse;
  width: 100%; height: 600px;
  margin-right: -2px;
}
.full-width {
  width: 100%;
  text-align: left;
}
button, textarea {
  border-radius: 7px;
  padding: 5px;
  background-color: white;
}
