<div class="container">

  <div class="row">
    <div class="col-3"><h4>New Work Package</h4></div>
    <div class="col-7"><p> Create a training requirements package for a new job </p></div>
  </div>


  <div class="row">
    <div class="col-md-5 left">
      <h6>Job Details</h6>
      <hr>
      <p><i class="fa fa-wrench prefix"></i><b>Activity</b></p>
      <button class="full-width"> Digging Trench </button>
      <br><br>
      <p><i class="fa fa-info-circle prefix"></i><b>Description</b></p>
      <textarea type="text" class="full-width form-control" rows="2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.
          Ut pellentesque mollis magna et molestie.
        </textarea>
      <br>
      <p><i class="fa fa-map-marker prefix"></i><b>Location</b></p>
      <textarea type="text" class="full-width form-control" rows="2">(Location Name) (Location Type)</textarea>
      <br>
      <p><i class="fa fa-gears prefix"></i><b>Roles</b></p>
      <button class="full-width">  All </button>
      <button class="full-width"> Foreman </button>
      <button class="full-width"> Laborer </button>
      <button class="full-width"> Crane Operator </button>
    </div>

    <div class="col-md-3 middle" >
      <h6>Locations</h6>
      <hr>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter activity name" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <br>
      <p> (Location Name) (Location Type) (Address/cordinates)</p><hr>
      <p> (Location Name) (Location Type) (Address/cordinates) </p><hr>
      <p> (Location Name) (Location Type) (Address/cordinates)</p><hr>
      <p> (Location Name) (Location Type) (Address/cordinates) </p>
    </div>

    <div class="col-md-4 right">
      <h6 class="float-left">Training Requirements</h6>
      <div class="btn-group float-right">
        <button class="float-left"><i class="fa fa-plus">Add</i></button>
        <button class="float-right"><i class="fa fa-edit"></i>Edit</button>
      </div>
      <br><hr>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter activity name" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <br>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Show-Location Name-requirements</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck2">
        <label class="custom-control-label" for="customCheck1">Show-Location Name-requirements</label>
      </div>
      <hr>
      Training Requirements  <hr>
      Training Requirements  <hr>
      Training Requirements  <hr>
      Training Requirements  <hr>

      <br><br><br><br>
      <footer>
        <div class="float-right">
          <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
        </div>
      </footer>

    </div>
  </div>

</div>
