<div class="jumbotron">
  <div class="row">
    <div class="col-3"><h4>New Work Package</h4></div>
    <div class="col-7"><p> Create a training requirements package for a new job </p></div>
  </div>

   <div class="row">

    <div class="col-md-5 left">
      <div class="scrollbar scrollbar-lady-lips">
        <div class="force-overflow">
          <h6 class="mt-3">Job Details</h6>
          <hr>
          <div class="mt-2">
            <h6><i class="fa fa-wrench prefix"></i><b>Activity</b></h6>
            <button class="full-width" (click)="addActivity()"> + Add Activity </button>
          </div>
          <div class="mt-3">
            <h6><i class="fa fa-map-marker prefix"></i><b>Job Site</b></h6>
            <button class="full-width" (click)="addLocation()"> + Add Location </button>
          </div>
          <div class="mt-3">
            <h6><i class="fa fa-info-circle prefix"></i><b>Description</b></h6>
            <button class="full-width" (click)="addDescription()"> + Add Description </button>
          </div>
          <div class="mt-3">
            <h6><i class="fa fa-gears prefix"></i><b>Roles</b></h6>
            <button class="full-width">  All Personnel </button>
            <button class="full-width" (click)="addRoles()"> + Add Roles </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 middle" *ngIf="isActivity==true">
      <h6 class="mt-3">Activities</h6>
      <hr>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <p> Digging Trench</p>
      <p>Line Locating</p>
      <p>Load Tubing/Rods</p>
      <p>Installing Tank</p>
    </div>
    <div class="col-md-3 middle" *ngIf="isLocation==true">
      <h6 class="mt-3">Locations</h6>
      <hr>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter activity name" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <br>
      <p> (Location Name) (Location Type) (Address/cordinates)</p><hr>
      <p> (Location Name) (Location Type) (Address/cordinates) </p><hr>
      <p> (Location Name) (Location Type) (Address/cordinates)</p><hr>
      <p> (Location Name) (Location Type) (Address/cordinates) </p>
    </div>
    <div class="col-md-7 right" *ngIf="isDescription==true">
      <div class="float-left">
        <h6 class="mt-3">Description</h6>
      </div>
      <div class="input-group float-right">
        <input type="text" class="form-control" placeholder="search requirements" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <br><br><br><hr>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <footer class="mt-5">
        <div class="float-right">
          <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
        </div>
      </footer>

    </div>

    <div class="col-md-4 right" *ngIf="isActivity==true" [ngClass]="activityClass" style="padding: 20px">
       <div class="row">
           <h6>Digging Trench</h6>
           <hr>
           <div class="md-form full-width">
             <p><i class="fa fa-map-marker prefix"></i><b>Suggested Job Sites</b></p>
             <textarea type="text" class="md-textarea form-control" rows="2"></textarea><br>
             <textarea type="text" class="md-textarea form-control" rows="2"></textarea>
           </div>

           <div class="mt-3 full-width">
             <div class="col-sm-5"><i class="fa fa-gears prefix"></i><b>Suggested Roles</b></div>
             <div class="offset-2 col-sm-3 float-right"><b>+ Add All</b></div>
           </div>
           <button class="full-width"> Foreman </button>
           <button class="full-width"> Laborer </button>
           <button class="full-width"> Crane Operator </button>
       </div>
           <footer class="mt-5">
             <div class="float-right">
               <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
             </div>
           </footer>
    </div>
    <div class="col-md-4 right" *ngIf="isLocation==true" [ngClass]="locationClass" style="padding: 20px">
       <div class="row">
           <div class="col-md-6"><h6 >Training Requirements</h6></div>
           <div class="offset-2 col-md-4">
             <button><i class="fa fa-plus">Add</i></button>
             <button><i class="fa fa-edit"></i>Edit</button>
           </div>
           <br><hr>
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Enter activity name" name="search">
             <div class="input-group-btn">
               <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
             </div>
           </div>
           <br>

           <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="nameCheck1">
             <label class="custom-control-label" for="nameCheck1">Show-Location Name-requirements</label>
           </div>
           <div class="custom-control custom-checkbox">
             <input type="checkbox" class="custom-control-input" id="typeCheck1">
             <label class="custom-control-label" for="typeCheck1">Show-Location Type-requirements</label>
           </div>
           <hr>
           Training Requirements  <hr>
           Training Requirements  <hr>
           Training Requirements  <hr>
           Training Requirements  <hr>
       </div>
         <footer class="mt-5">
           <div class="float-right">
             <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
           </div>
         </footer>
     </div>
    <div class="right" *ngIf="isRoles==true" [ngClass]="rightClass" style="padding: 20px">
      <div class="row">

        <h6 class="col-sm-4 mt-3 float-left">Training Requirements <span class="badge">13</span> </h6>

        <div class="input-group col-sm-6 offset-1 float-right">
          <input type="text" class="form-control" placeholder="search requirements" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <hr>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>arrow_downward</mat-icon>
              <h6>Base Requirements <span class="badge">5</span></h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-6">
              <mat-accordion class="half-width">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon>arrow_downward</mat-icon>
                      <h6><u>Role Requirements</u></h6>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-6">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon>arrow_downward</mat-icon>
                      <h6><u>Job Site Requirements</u></h6>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>arrow_downward</mat-icon>
              <h6> Foreman Requirements <span class="badge">7</span></h6>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-6">
              <mat-accordion class="half-width">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon>arrow_downward</mat-icon>
                      <h6><u>Role Requirements</u></h6>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-6">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-icon>arrow_downward</mat-icon>
                      <h6><u>Job Site Requirements</u></h6>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                  <h6><button>Training Requirement</button></h6>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <br><br><br><br>

      <footer class="mt-5">
        <div class="float-right">
          <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
        </div>
      </footer>

    </div>

  </div>
</div>








