.jumbotron {
  background-color: #F5F5F5;
  height: 550px;
}
.left {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.right {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
hr {
  width: 100%;
  border: 1px groove;
}
.col-md-5, .col-md-4, .col-md-3, .col-md-7{
  text-align: left;
  border-style: groove;
  border-spacing:0;
  border-collapse: collapse;
  width: 100%; height: auto;
  margin-right: -2px;
}
.full-width {
  width: 100%;
  text-align: left;
}
.half-width {
  width: 25%;
  text-align: left;
}
button, textarea {
  border-radius: 7px;
  padding: 5px;
  background-color: white;
}
div.col-3, div.col-7 {
  margin-top: -40px
}
.scrollbar {
  float: left;
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.force-overflow {
  min-height: 150px;
  padding: 15px 15px 15px 15px;
}
