<div class="container">

  <div class="row">
    <div class="col-3"><h4>New Work Package</h4></div>
    <div class="col-7"><p> Create a training requirements package for a new job </p></div>
  </div>


  <div class="row">
    <div class="col-md-5 left">
      <h6>Job Details</h6>
      <hr>
      <p><i class="fa fa-wrench prefix"></i><b>Activity</b></p>
      <button class="full-width"> + Add Activity </button>
      <br><br>
      <p><i class="fa fa-info-circle prefix"></i><b>Description</b></p>
      <button class="full-width"> + Add Description </button>
      <br><br>
      <p><i class="fa fa-map-marker prefix"></i><b>Location</b></p>
      <button class="full-width"> + Add Location </button>
      <br><br>
      <p><i class="fa fa-gears prefix"></i><b>Roles</b></p>
      <button class="full-width">  All Personnel </button>
      <br>
      <button class="full-width"> + Add Roles </button>
    </div>

    <div class="col-md-3 middle" >
      <h6>Activities</h6>
      <hr>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <p> Digging Trench</p>
      <p>Line Locating</p>
      <p>Load Tubing/Rods</p>
      <p>Installing Tank</p>
    </div>

    <div class="col-md-4 right">
      <h6>Digging Trench</h6>
      <hr>
      <div class="md-form">
        <p><i class="fa fa-map-marker prefix"></i><b>Suggested Locations</b></p>
        <textarea type="text" class="md-textarea form-control" rows="2"></textarea><br>
        <textarea type="text" class="md-textarea form-control" rows="2"></textarea>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-7"><i class="fa fa-gears prefix"></i><b>Suggested Roles</b></div>
        <div class="col-sm-5">
          <button><b>+ Add All</b></button>
        </div>
      </div>
      <button class="full-width"> Foreman </button>
      <button class="full-width"> Laborer </button>
      <button class="full-width"> Crane Operator </button>
      <br><br><br><br>
      <footer>
        <div class="float-right">
          <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
        </div>
      </footer>

    </div>
  </div>

</div>
