<div class="container">
  <section class="form-elegant">
    <div class="card">
      <div class="card-body mx-sm-4">
        <div class="row">
            <div class="col-3 offset-4">
              <p>Type:</p>
            </div>
          <div class="col-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true">&#x270f;</span>
            </button>
          </div>
            <div class="col-4">
              <p>OSHA 10</p>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3 offset-4">
            <p>Location:</p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true">&#x270f;</span>
            </button>
          </div>
          <div class="col-4">
            <p>123 Address st.</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-3 offset-4">
            <p>Schedule:</p>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true">&#x270f;</span>
            </button>
          </div>
          <div class="col-4">
            <p>Monday 2:00PM</p>
            <p>5/7/14 - 5/14/18</p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>

  <br>

  <div style="text-align: center">
    <button type="submit" class="btn btn-warning">Next</button>
  </div>

</div>
