<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <form #companyDataForm="ngForm" novalidate>
        <section class="form-elegant">
          <div class="card">
            <div class="card-body mx-4">
              <h3 class="d-flex justify-content-start">Company Profile</h3>
              <p class="d-flex justify-content-start mb-5">Enter basic Information about your Company</p>

              <mat-form-field class="full-width mt-2">
                <input matInput placeholder="Company Name" value="" #companyName="ngModel" id="companyName"
                       name="companyName" [(ngModel)]="companyData.companyName">
              </mat-form-field>
              <mat-form-field class="full-width mt-2">
                <mat-select placeholder="Industry" #industry="ngModel" required id="industry" multiple
                            name="industry" [(ngModel)]="companyData.industry">
                  <mat-option *ngFor="let industry of industries" [value]="industry.value">
                    {{industry.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="industryControl.hasError('required')">Please choose an Industry</mat-error>
                <mat-hint>{{industryControl.value?.viewValue}}</mat-hint>
              </mat-form-field>
              <mat-form-field class="full-width mt-2">
                <mat-select placeholder="Company Size" #companySize="ngModel" required id="companySize" name="companySize"
                            [(ngModel)]="companyData.companySize">
                  <mat-option *ngFor="let size of company" [value]="size.value">
                    {{size.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </section>
        <br>&nbsp; &nbsp; &nbsp;
        <!-- Footer -->
        <footer class="ve font-small blue">
          <div class="row" style="text-align: center">
            <div class="col align-self-start">
              <a href="javascript:void(0);" (click)="goToPrevious(personalForm)" type="button" class=" btn btn-warning">&laquo; Previous</a>
            </div>
            <div class="col align-self-end">
                <button type="button" [disabled]="!companyDataForm.valid" (click)="goToNext(companyDataForm)" class="btn btn-warning">Next</button>
            </div>
          </div>
        </footer>
        <!-- Footer -->
      </form>
    </div>
  </div>
</div>
