<div class="container">
  <div class="jumbotron border border-dark mx-auto d-block" id="bio">
    <div class="row">
      <div class="col-6">
        <h3>Username</h3>
        <h5> Job Title</h5>
        <p>Bio</p>
      </div>
      <div class="col-4 offset-2" id="avatar">
        <img class="img-thumbnail float-right rounded-circle" src="/src/assets/images/img_avatar.png" alt="Card avatar">
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <mat-tab-group>
    <mat-tab label="Certifications">
      <div class="row no-gutters certifications">
          <div class="col col-md-4 col-lg-3 col-xl-3">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                  <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-4 col-lg-3 col-xl-3">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-4 col-lg-3 col-xl-3">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-4 col-lg-3 col-xl-3">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-4 col-lg-3 col-xl-3">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="col col-md-4 col-lg-3 col-xl-3">
            <div class="card-body">
              <mat-card>
                <div class="row justify-content-center">
                  <img mat-card-image src="src/assets/images/certifcate.png" class="mx-auto d-block img-fluid" alt="Photo of Certificate">
                </div>
                <mat-card-content>
                  <mat-card-header class="d-flex w-100">
                    <mat-card-title><b>Course 10</b></mat-card-title>
                    <mat-card-subtitle>OSHA 10 Construction Safety and Healthy</mat-card-subtitle>
                    <mat-card-title><b>Completed</b></mat-card-title>
                    <mat-card-subtitle>May 7th 2018</mat-card-subtitle>
                  </mat-card-header>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
      </div>
    </mat-tab>
    <mat-tab label="Testimonials">
      <div class="card-columns col">
        <div class="card">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Full Name</mat-card-title>
                <mat-card-subtitle>Title</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</p>
              </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Full Name</mat-card-title>
              <mat-card-subtitle>Title</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Full Name</mat-card-title>
              <mat-card-subtitle>Title</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
               </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Full Name</mat-card-title>
              <mat-card-subtitle>Title</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Full Name</mat-card-title>
              <mat-card-subtitle>Title</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="card">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Full Name</mat-card-title>
              <mat-card-subtitle>Title</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

