#bio {
  border: 1px solid;
  border-radius: 15px;
  width: 700px; height: 180px;
  padding: 20px 30px;
  margin: 1rem;
}
#avatar img{
  width: 150px; height: 120px;
}

.certifications .mat-card-image {
  width: 75%;
  padding-top: 30px;
}
 .certifications mat-card {
  width: 100%; // height: auto;
   font: bold 1rem sans-serif;
  padding: 1px 0px;
  border-radius: 12px;
}
.certifications mat-card-title {
  background-color: #FF8800;
  font: 15px bold sans-serif;
}
.certifications mat-card-subtitle {
  font: 12px sans-serif;
}
.card-columns .card{
  padding: 2px;
  border: 0.1px #aaaaaa;
  border-radius: 15px;
}
.card-columns mat-card{
  padding: 10px;
  border-radius: 15px;
}
.card-columns mat-card-title {
  font: 15px bold sans-serif;
}
.card-columns mat-card-subtitle {
  font: 12px sans-serif;
}
