<div class="container">

  <div class="row">
    <div class="col-3"><h4>New Work Package</h4></div>
    <div class="col-7"><p> Create a training requirements package for a new job </p></div>
  </div>


  <div class="row">
    <div class="col-md-5 left">
      <div class="scrollbar scrollbar-lady-lips">
        <div class="force-overflow">
          <h6>Job Details</h6>
          <hr>
          <p><i class="fa fa-wrench prefix"></i><b>Activity</b></p>
          <button class="full-width"> Digging Trench </button>
          <br><br>
          <p><i class="fa fa-map-marker prefix"></i><b>Job Site</b></p>
          <textarea type="text" class="full-width form-control" rows="2">(Location Name) (Location Type)</textarea>
          <br>
          <p><i class="fa fa-info-circle prefix"></i><b>Description</b></p>
          <textarea type="text" class="full-width form-control" rows="2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.
              Ut pellentesque mollis magna et molestie.
            </textarea>
          <br>
          <p><i class="fa fa-gears prefix"></i><b>Roles</b></p>
          <button class="full-width">  All </button>
          <button class="full-width"> Foreman </button>
          <button class="full-width"> Laborer </button>
          <button class="full-width"> Crane Operator </button>
        </div>
      </div>
    </div>



    <div class="col-md-7 right">
      <div class="row">

        <h6 class="col-sm-4 float-left">Training Requirements <span class="badge">13</span> </h6>

        <div class="input-group col-sm-6 offset-1 float-right">
          <input type="text" class="form-control" placeholder="search requirements" name="search">
          <div class="input-group-btn">
            <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <hr>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>arrow_downward</mat-icon>
              Basic Requirements
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>arrow_downward</mat-icon>
                  Foreman Requirements
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="number" min="1" placeholder="Age">
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>arrow_downward</mat-icon>
                  Foreman Requirements
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="number" min="1" placeholder="Age">
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>arrow_downward</mat-icon>
              Foreman Requirements
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="First name">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="number" min="1" placeholder="Age">
          </mat-form-field>
        </mat-expansion-panel>


      </mat-accordion>

      <br><br><br><br>
      <footer>
        <div class="float-right">
          <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
        </div>
      </footer>

    </div>
  </div>

</div>
