<br>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">

      <section class="form-elegant">
        <div class="card">
          <div class="card-body mx-sm-4">
            <form>
              <div class="form-group">
                <h3 for="email" class="d-flex justify-content-start">Admin Information</h3>
                <p for="pwd" class="d-flex justify-content-start">Enter you Personal Information</p>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="fullname" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="phone" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="title" placeholder="Title">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="pwd" placeholder="password">
              </div>
            </form>
          </div>
        </div>
      </section>
      <br>

      <div style="text-align: center">
        <button type="submit" class="btn btn-warning">Next</button>
      </div>
    </div>
  </div>
</div>
