
<div class="container">
  <section class="form-elegant">
    <div class="card">
      <div class="card-body mx-sm-4">
        <div class="row">
         <div class="col-6">
           <h3>OSHA 10</h3>
           <p>
             General awareness on recognizing and preventing hazards on a construction site.
           </p>
         </div>
         <div class="col-4 offset-2">
           <h3>Completed ?</h3>
           <form>
            <div class="form-check-inline">
               <input class="form-check-input" type="radio" name="optradio" id="exampleRadios1" value="option1">
               <label class="form-check-label" for="exampleRadios1">   Yes
               </label>
             </div>
             <div class="form-check-inline">
               <input class="form-check-input" type="radio" name="optradio" id="exampleRadios2" value="option2">
               <label class="form-check-label" for="exampleRadios2">  No
               </label>
             </div>
           </form>
         </div>
       </div>
        <hr>
        <div>
          <h5>Click 'Next' to schedule your OSHA 10 training</h5>
          <br>
           <p>
             <span style="font-size: 250%; color: #000000; font-family: 'Times New Roman'"><b>&#63;</b></span>
             Why do I need OSHA 10 training
           </p>
          <p> Company Name requires all the workers in the Role to have valid OSHA 10
              training to ensure a safe work environment for all personnel
          </p>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-inline">
              <div class="col-1">
                <span style="font-size: 150%; color: #000000;">&#9312;</span>
              </div>
              <div class="col-11"><h5>Upload Certificate</h5></div>
            </div>
            <div id= "div1">
              <p> Drag an image or click here</p>
                  <div class="">
                    <a href="#" class="btn btn-info btn-lg">
                      <span class="glyphicon glyphicon-camera"></span> &#xe046; Camera
                    </a>
                  </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-inline">
              <div class="col-1">
                <span style="font-size: 150%; color: #000000;">&#9313;</span>
              </div>
              <div class="col-11"><h5>Enter certificate information</h5></div>
            </div>

            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="fullname" placeholder="Full Name">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="certificate" placeholder="Certificate Number">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="instructor" placeholder="Instructor Name">
              </div>
              <div class="form-group">
                <input type="date" class="form-control" id="date" placeholder="Completed Date">
              </div>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-6">
            <h3>OSHA 30</h3>
            <p style="text-align: justify">
              Specifically devised for safety directors, foreman and field supervisors;
              the program provides complete information on OSHA compliance issues.
            </p>
          </div>
          <div class="col-4 offset-2">
            <h3>Completed ?</h3>
            <form>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="optradio" id="exampleRadios3" value="option1">
                  <label class="form-check-label" for="exampleRadios3">   Yes
                  </label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="radio" name="optradio" id="exampleRadios4" value="option2">
                  <label class="form-check-label" for="exampleRadios4">  No
                  </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>

  <div style="text-align: center">
    <button type="submit" class="btn btn-warning">Next</button>
  </div>

</div>
