input[type=radio] {
  display: none;
}
input[type=radio] + label::before {
  content: '';
  display: inline-block;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 0 0.5em;
}
input[type=radio]:checked + label::before {
  background-color: #000000;
}

#exampleRadios1 + label::before {
  width: 1.00em;
  height: 1.00em;
}

#exampleRadios2 + label::before {
  width: 1.00em;
  height: 1.00em;
}
#exampleRadios3 + label::before {
  width: 1.00em;
  height: 1.00em;
}

#exampleRadios4 + label::before {
  width: 1.00em;
  height: 1.00em;
}
#div1 {
  width: 370px;
  height: 190px;
  padding: 10px;
  border: 5px solid #aaaaaa;
  border-radius: 25px;
  border-style: dotted;
}
hr {
  border: 1px solid;
}
