
.sidenav-container {
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-is-mobile .sidenav-toolbar {
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  position: fixed;
  display: block;
  z-index: 2;
}

h1.title {
  text-align: center;
  font: 30px bold italic;
  position: static;
  margin-top: -25px;
}

.sidenav {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  display: block;
  text-align: center;
  -ms-flex: 1;  /* IE 10 */
}

.sidenav-is-mobile .sidenav {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-icon-button .mat-icon {
  margin-top: 20px;
}
