<div class="sidenav-container" [class.sidenav-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="sidenav-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="title">Safety Search</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/company" routerLinkActive="active">Company-Admin Info</a>
        <a mat-list-item routerLink="company/register/company-profile" routerLinkActive="active">Company-Profile</a>
        <a mat-list-item routerLink="/company/register/create-roles" routerLinkActive="active">Curriculum</a>
        <a mat-list-item routerLink="/company/company-newjob" routerLinkActive="active">Company-New Job</a>
        <a mat-list-item routerLink="/employee/employee-profile/public" routerLinkActive="active">Public-Profile</a>
        <a mat-list-item routerLink="/employee/employee-profile/private" routerLinkActive="active">Private-Profile</a>
        <a mat-list-item routerLink="/client" routerLinkActive="active">Client-Dashboard</a>
        <a mat-list-item routerLink="/facility" routerLinkActive="active">Facility</a>
        <a mat-list-item routerLink="/employee" routerLinkActive="active">Employee</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content><br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
