<div class="container">
  <ul class="list-inline">
    <li class="list-inline-item"><h3>New Job</h3></li>
    <li class="list-inline-item"><p> creating a training report for a new Job </p></li>
  </ul>
  <div class="row">
    <div class="col-3">
      <div class="jumbotron">
        <p>Selected Employees</p>
        <mat-form-field>
          <input matInput type="text" placeholder="Full Name" value="">
        </mat-form-field>
        <a class="btn btn-primary btn-sm" href="#" role="button">Complete</a>
      </div>
    </div>
    <div class="col-6">
      <div class="jumbotron jumbotron-fluid">
        <div class="row">
          <div class="col">
            <p> Showing</p>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary btn-sm btn-rounded waves-effect">All</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-info btn-sm btn-rounded waves-effect">Valid</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-sm btn-rounded waves-effect">Expired</button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-success btn-sm btn-rounded waves-effect">Missing</button>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="employee">
            <th mat-header-cell *matHeaderCellDef> Employee </th>
            <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
          </ng-container>
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>
          <ng-container matColumnDef="training">
            <th mat-header-cell *matHeaderCellDef> Training </th>
            <td mat-cell *matCellDef="let element"> {{element.training}} </td>
          </ng-container>
          <ng-container matColumnDef="received">
            <th mat-header-cell *matHeaderCellDef> Received </th>
            <td mat-cell *matCellDef="let element"> {{element.received}} </td>
          </ng-container>
          <ng-container matColumnDef="expires">
            <th mat-header-cell *matHeaderCellDef> Expires </th>
            <td mat-cell *matCellDef="let element"> {{element.expires}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              (click)="selection.toggle(row)">
          </tr>
        </table>

      </div>
    </div>
    <div class="col-3">
      <div class="jumbotron">
        Company Name
        <i class="material-icons"> create </i>
        <p> Requirements</p>
        <hr>
        <p> Company Name</p>
        <p> Job Site Type</p>
        <p> Job Site</p>
      </div>
    </div>
  </div>
</div>
