<h1 mat-dialog-title>New Requirement</h1>

<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-select placeholder="Type" [formControl]="typeControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="typeControl.hasError('required')">Please choose a Type</mat-error>
    <mat-hint>{{typeControl.value?.sound}}</mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Name">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" cdkFocusInitial>Add</button>
</div>
