
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 for="email" class="card-title d-flex justify-content-start">Add personnel</h3>
      <br>
      <form>
        <div class="form-group">
          <h4 for="email" class="mr-sm-2 d-flex justify-content-start">Foreman</h4>
          <input type="text" class="form-control" id="foreman" placeholder="Comma-delimited email list">
        </div>
        <br>
        <div class="form-group">
          <h4 for="email" class="mr-sm-2 d-flex justify-content-start">Laborer</h4>
          <input type="text" class="form-control" id="laborer" placeholder="Comma-delimited email list">
        </div>
        <br>
        <div class="form-group">
          <div class="row">
            <div class="col-4"> <h4 for="email" class="mr-sm-2 d-flex justify-content-start">Unspecified</h4>
            </div>
            <div class="col-8 d-flex justify-content-end" style="text-size:1cm;">
              <p>users will choose their Role during Resgistration</p>
            </div>
          </div>
          <input type="text" class="form-control" id="unspecified" placeholder="Comma-delimited email list">
        </div>
      </form>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col d-flex justify-content-start">
      <a href="#" type="button" class=" btn btn-warning">&laquo; Previous</a>
    </div>
    <div class="col d-flex justify-content-end">
      <a href="#" type="button" class="btn btn-warning">Create &raquo;</a>
    </div>
  </div>
</div>
