
<div class="container">
  <h3> Create Account </h3>
  <div class="row">
    <div class="col-12">
      <app-create-roles></app-create-roles>
    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="offset-2 col-8 offset-2">
      <app-create-account></app-create-account>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-create-roles></app-create-roles>
    </div>
  </div>
</div>

-->
