<div class="container">

  <div class="row">
    <div class="col-3"><h4>New Work Package</h4></div>
    <div class="col-7"><p> Create a training requirements package for a new job </p></div>
  </div>


  <div class="row">
    <div class="col-md-5 left">
      <h6>Job Details</h6>
      <hr>
      <p><i class="fa fa-wrench prefix"></i><b>Activity</b></p>
      <button class="full-width"> Digging Trench </button>
      <br><br>
      <p><i class="fa fa-info-circle prefix"></i><b>Description</b></p>
      <textarea type="text" class="full-width form-control" rows="2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultricies mi nec elit pretium porta.
          Ut pellentesque mollis magna et molestie.
        </textarea>
      <br>
      <p><i class="fa fa-map-marker prefix"></i><b>Location</b></p>
      <textarea type="text" class="full-width form-control" rows="2">(Location Name) (Location Type)</textarea>
      <br>
      <p><i class="fa fa-gears prefix"></i><b>Roles</b></p>
      <button class="full-width">  All </button>
      <button class="full-width"> Foreman </button>
      <button class="full-width"> Laborer </button>
      <button class="full-width"> Crane Operator </button>
    </div>



    <div class="col-md-7 right">
      <div class="float-left">
        <h6>Description</h6>
      </div>
      <div class="input-group float-right">
        <input type="text" class="form-control" placeholder="search requirements" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <br><br><br><hr>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>

      <br><br><br><br>
      <footer>
        <div class="float-right">
          <a href="#" type="button" class="btn btn-warning">Next &raquo;</a>
        </div>
      </footer>

    </div>
  </div>

</div>
